<%- include("partials/header") %> 
<h1>Contact</h1>
    <hr>
    <ol type="1">
        <li>email id : harishXXXXXXXXXXXX@gmail.com</li>
        <li>Contact number : 8047XXXXXX</li>
        <li>Address : XXXXXXXXXXXXXXXXXXXXXXXX</li>
    </ol>
    <hr>
    <form action="mailto:harishgandolkar123@gmail.com" method="post" enctype="text/plain">
        <label>Your Name:</label>
        <input type="text" name="Your Name" class="form-control" placeholder="Enter Name" autocomplete="off"><br>
        <label>Enter Email:</label>
        <input type="email" name="Your Email" class="form-control" placeholder="Enter Email" autocomplete="off"><br>
        <label>Your Massage:</label>
        <textarea name="Your Massage" id="" cols="30" rows="8" class="form-control" placeholder="Massage me" autocomplete="off"></textarea><br>
        <label>If you want to interested in Learning the web development click the checkbox</label>
        <input class="form-check-label" type="checkbox"><br>
        <input class="btn btn-info" type="submit"><br>
    </form>
<%- include("partials/footer") %> 